Repository KnowageLabs/Knowage-Server-Frontend, pull requests merged in 2023-05, with the labels that each got.

#1 Dashboard sprint 10 bugfix
  src/components/UI/KnParameterSidebar/KnParameterSidebar.vue
  src/modules/documentExecution/dossier/Dossier.vue
Labels: Bugfix, javascript, Knowage_8.1, Porting Vue.js

#4 Dashboard sprint 10 bugfix
  src/components/UI/KnParameterSidebar/KnParameterSidebar.vue
  src/components/UI/KnParameterSidebar/KnParameterSidebarDataDependency.ts
  src/components/UI/KnParameterSidebar/KnParameterSidebarLovsDependency.ts
  src/modules/documentExecution/dashboard/Dashboard.d.ts
  src/modules/documentExecution/dashboard/DashboardController.vue
  src/modules/documentExecution/dashboard/DashboardHelpers.ts
  src/modules/documentExecution/main/DocumentExecution.vue
Labels: Bugfix, javascript, Porting Vue.js

#5 KNOWAGE-7916, KNOWAGE-7917
  src/modules/documentExecution/registry/tables/RegistryDatatable.vue
Labels: Bugfix, javascript, Porting Vue.js

#7 Dashboard sprint 10
  src/modules/documentExecution/dashboard/DashboardController.vue
Labels: Bugfix, javascript, Porting Vue.js

#8 Dashboard sprint 11 bugfix
  src/modules/documentExecution/dashboard/DashboardHelpers.ts
  src/modules/documentExecution/dashboard/widget/ChartWidget/classes/highcharts/KnowageHighchartsActivityGaugeChart.ts
  src/modules/documentExecution/dashboard/widget/ChartWidget/classes/highcharts/KnowageHighchartsGaugeSeriesChart.ts
  src/modules/documentExecution/dashboard/widget/ChartWidget/classes/highcharts/KnowageHighchartsHeatmapChart.ts
  src/modules/documentExecution/dashboard/widget/ChartWidget/classes/highcharts/KnowageHighchartsPieChart.ts
  src/modules/documentExecution/dashboard/widget/ChartWidget/classes/highcharts/KnowageHighchartsRadarChart.ts
  src/modules/documentExecution/dashboard/widget/ChartWidget/classes/highcharts/KnowageHighchartsSolidGaugeChart.ts
  src/modules/documentExecution/registry/RegistryFiltersCard.vue
  src/modules/documentExecution/registry/tables/RegistryDatatable.vue
  src/modules/managers/behaviouralModelLineage/BehaviouralModelLineageTable.vue
Labels: Bugfix, javascript, Porting Vue.js

#9 Bugfix KNOWAGE-7927
  src/modules/documentExecution/dashboard/widget/ChartWidget/Highcharts/HighchartsModelFormattingHelpers.ts
  src/modules/documentExecution/dashboard/widget/ChartWidget/classes/highcharts/KnowageHighchartsRadarChart.ts
  src/modules/documentExecution/dashboard/widget/ChartWidget/classes/highcharts/updater/KnowageHighchartsCommonUpdater.ts
  src/modules/documentExecution/dashboard/widget/WidgetEditor/WidgetEditorDataTab/common/WidgetCommonDescriptor.json
  src/modules/documentExecution/dashboard/widget/WidgetEditor/helpers/chartWidget/highcharts/HighchartsHelpers.ts
Labels: Bugfix, javascript, Porting Vue.js

#10 Bugfix KNOWAGE-7928
  src/modules/documentExecution/dashboard/DashboardViews/DashboardSaveViewDialog/DashboardSaveViewDialog.vue
  src/modules/documentExecution/dashboard/widget/WidgetEditor/helpers/chartWidget/highcharts/HighchartsDataTabHelpers.ts
  src/modules/workspace/Workspace.vue
  src/modules/workspace/genericComponents/WorkspaceDocumentTree.vue
Labels: Bugfix, javascript, Porting Vue.js

#13 Bugfix KNOWAGE-7939
  src/modules/documentExecution/main/DocumentExecution.vue
Labels: javascript, Porting Vue.js

#14 Dashboard sprint 10 bugfix
  src/modules/documentExecution/dashboard/DashboardController.vue
  src/modules/documentExecution/dashboard/DashboardViews/DashboardSaveViewDialog/DashboardSaveViewDialog.vue
  src/modules/documentExecution/dashboard/generalSettings/DashboardGeneralSettings.vue
  src/modules/documentExecution/dashboard/generalSettings/background/DashboardBackground.vue
  src/modules/documentExecution/main/DocumentExecution.vue
  src/modules/documentExecution/main/DocumentExecutionHelpers.ts
  src/modules/documentExecution/registry/RegistryFiltersCard.vue
Labels: Bugfix, javascript, Porting Vue.js

#15 Bugfix KNOWAGE-7923
  src/modules/documentExecution/main/DocumentExecution.vue
Labels: Bugfix, javascript, Porting Vue.js
