Repository KnowageLabs/Knowage-Server-Frontend, pull requests merged in 2023-07, with the labels that each got.

#35 Dashboard sprint 12 bugfix
  src/i18n/en_US/messages.json
  src/modules/documentExecution/dashboard/DashboardHelpers.ts
  src/modules/workspace/genericComponents/WorkspaceDocumentTree.vue
Labels: Bugfix, javascript, Porting Vue.js

#36 Bugfix KNOWAGE-7980
  src/modules/managers/scheduler/SchedulerTimingOutputTable/SchedulerTimingOutputDetailDialog/tabs/SchedulerTimingOutputOutputTab/accordions/SchedulerMailAccordion.vue
Labels: Bugfix, javascript, Porting Vue.js

#37 KNOWAGE-8030
  src/modules/documentExecution/dashboard/widget/TableWidget/TableWidgetDataProxy.ts
Labels: Bugfix, javascript, Porting Vue.js

#39 Dashboard sprint 12 bugfix
  src/components/UI/KnDashboardTabs/KnDashboardTabsPanel.vue
  src/i18n/en_US/messages.json
  src/modules/documentExecution/dashboard/Dashboard.d.ts
  src/modules/documentExecution/dashboard/Dashboard.store.ts
  src/modules/documentExecution/dashboard/DashboardHelpers.ts
  src/modules/documentExecution/dashboard/DashboardRenderer.vue
  src/modules/documentExecution/dashboard/helpers/DashboardBackwardCompatibilityHelper.ts
  src/modules/documentExecution/dashboard/widget/SheetPickerDialog/SheetPickerDialog.vue
  src/modules/documentExecution/dashboard/widget/SheetPickerDialog/SheetPickerDialogDescriptor.json
  src/modules/documentExecution/dashboard/widget/WidgetController.vue
Labels: enhancement, javascript, Porting Vue.js

#41 BUGFIXING
  src/helpers/commons/localeHelper.ts
  src/modules/documentExecution/dashboard/generalSettings/information/DashboardInformation.vue
  src/modules/managers/datasetManagement/detailView/DatasetManagementDetailView.vue
  src/modules/managers/datasetManagement/detailView/typeCard/tables/DatasetManagementParamTable.vue
Labels: Bugfix, javascript, Porting Vue.js

#42 Dashboard sprint 12
  src/modules/documentExecution/dashboard/widget/WidgetController.vue
Labels: javascript, Porting Vue.js

#43 KNOWAGE-8045
  src/modules/documentExecution/dashboard/widget/ChartWidget/Highcharts/dataProxy/HighchartsBarDataProxy.ts
  src/modules/documentExecution/dashboard/widget/ChartWidget/Highcharts/dataProxy/HighchartsBubbleDataProxy.ts
  src/modules/documentExecution/dashboard/widget/ChartWidget/Highcharts/dataProxy/HighchartsGaugeDataProxy.ts
  src/modules/documentExecution/dashboard/widget/ChartWidget/Highcharts/dataProxy/HighchartsScatterDataProxy.ts
  src/modules/documentExecution/dashboard/widget/ChartWidget/Highcharts/dataProxy/HighchartsSunburstDataProxy.ts
Labels: Bugfix, javascript, Porting Vue.js
